# Exploring Customer Behavior and Market Patterns

Analyze customer behavior, sales patterns, and product performance using the Olist e-commerce dataset to generate insights that improve marketing strategy, boost customer retention, and optimize business performance.

In [20]:
import pandas as pd
import os
import sqlite3

In [2]:
# Load datasets
customers = pd.read_csv("data/olist_customers_dataset.csv")
geolocation = pd.read_csv("data/olist_geolocation_dataset.csv")
order_items = pd.read_csv("data/olist_order_items_dataset.csv")
payments = pd.read_csv("data/olist_order_payments_dataset.csv")
reviews = pd.read_csv("data/olist_order_reviews_dataset.csv")
orders = pd.read_csv("data/olist_orders_dataset.csv")
products = pd.read_csv("data/olist_products_dataset.csv")
sellers = pd.read_csv("data/olist_sellers_dataset.csv")
category_translation = pd.read_csv("data/product_category_name_translation.csv")

In [3]:
# Print dataset first few rows for verification
print("Customers Dataset:")
print(customers.head())
print("\nOrders Dataset:")
print(orders.head())
print("\nProducts Dataset:")
print(products.head())
print("\nSellers Dataset:")
print(sellers.head())
print("\nOrder Items Dataset:")
print(order_items.head())
print("\nPayments Dataset:")
print(payments.head())
print("\nReviews Dataset:")
print(reviews.head())
print("\nGeolocation Dataset:")
print(geolocation.head())
print("\nCategory Translation Dataset:")
print(category_translation.head())

Customers Dataset:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Orders Dataset:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Products Dataset:
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Sellers Dataset:
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Order Items Dataset:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Payments Dataset:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

Reviews Dataset:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

Geolocation Dataset:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Category Translation Dataset:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [4]:
#Shape of datasets
print(f"Customers shape: {customers.shape}")
print(f"Orders shape: {orders.shape}")
print(f"Products shape: {products.shape}")
print(f"Sellers shape: {sellers.shape}")
print(f"Order Items shape: {order_items.shape}")
print(f"Payments shape: {payments.shape}")
print(f"Reviews shape: {reviews.shape}")
print(f"Geolocation shape: {geolocation.shape}")
print(f"Category Translation shape: {category_translation.shape}")

Customers shape: (99441, 5)
Orders shape: (99441, 8)
Products shape: (32951, 9)
Sellers shape: (3095, 4)
Order Items shape: (112650, 7)
Payments shape: (103886, 5)
Reviews shape: (99224, 7)
Geolocation shape: (1000163, 5)
Category Translation shape: (71, 2)

In [5]:
#Dataset Overview
datasets = {
    "Customers": customers,
    "Orders": orders,
    "Products": products,
    "Sellers": sellers,
    "Order Items": order_items,
    "Payments": payments,
    "Reviews": reviews,
    "Geolocation": geolocation,
    "Category Translation": category_translation
}
for name, df in datasets.items():
    print(f"\n{name} Dataset Overview:")
    print(df.info())

Customers Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

Orders Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

Products Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Sellers Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

Order Items Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

Payments Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

Reviews Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

Geolocation Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

Category Translation Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

In [6]:
# Missing Values Analysis
for name, df in datasets.items():
    print(f"\nMissing values in {name}:")
    print(df.isnull().sum())

Missing values in Customers:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Missing values in Orders:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Missing values in Products:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Missing values in Sellers:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Missing values in Order Items:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Missing values in Payments:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Missing values in Reviews:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Missing values in Geolocation:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Missing values in Category Translation:
product_category_name            0
product_category_name_english    0
dtype: int64

In [7]:
#Drop columns with excessive missing values
for name, df in datasets.items():
    threshold = len(df) *0.5
    df.dropna(thresh=threshold, axis=1, inplace=True)
    datasets[name] = df
    print(f"\nAfter dropping columns with >50% missing values in {name}:")
    print(df.isnull().sum())

# Update datasets after cleaning
customers = datasets["Customers"]
orders = datasets["Orders"]
products = datasets["Products"]
sellers = datasets["Sellers"]
order_items = datasets["Order Items"]
payments = datasets["Payments"]
reviews = datasets["Reviews"]
geolocation = datasets["Geolocation"]
category_translation = datasets["Category Translation"]

After dropping columns with >50% missing values in Customers:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

After dropping columns with >50% missing values in Orders:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

After dropping columns with >50% missing values in Products:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

After dropping columns with >50% missing values in Sellers:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

After dropping columns with >50% missing values in Order Items:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

After dropping columns with >50% missing values in Payments:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

After dropping columns with >50% missing values in Reviews:
review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

After dropping columns with >50% missing values in Geolocation:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

After dropping columns with >50% missing values in Category Translation:
product_category_name            0
product_category_name_english    0
dtype: int64

In [8]:
# Check missing values and data types in orders and products
print("=" * 50)
print("ORDERS Dataset - Missing Values & Data Types:")
print("=" * 50)
print(orders.isnull().sum())
print("\nData types:")
print(orders.dtypes)

print("\n" + "=" * 50)
print("PRODUCTS Dataset - Missing Values & Data Types:")
print("=" * 50)
print(products.isnull().sum())
print("\nData types:")
print(products.dtypes)

# Check percentage of missing values
print("\n" + "=" * 50)
print("Missing Values Percentage:")
print("=" * 50)
for col in orders.columns:
    missing_pct = (orders[col].isnull().sum() / len(orders)) * 100
    if missing_pct > 0:
        print(f"Orders - {col}: {missing_pct:.2f}%")

for col in products.columns:
    missing_pct = (products[col].isnull().sum() / len(products)) * 100
    if missing_pct > 0:
        print(f"Products - {col}: {missing_pct:.2f}%")

==================================================
ORDERS Dataset - Missing Values & Data Types:
==================================================
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Data types:
order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

==================================================
PRODUCTS Dataset - Missing Values & Data Types:
==================================================
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Data types:
product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

==================================================
Missing Values Percentage:
==================================================
Orders - order_approved_at: 0.16%
Orders - order_delivered_carrier_date: 1.79%
Orders - order_delivered_customer_date: 2.98%
Products - product_category_name: 1.85%
Products - product_name_lenght: 1.85%
Products - product_description_lenght: 1.85%
Products - product_photos_qty: 1.85%
Products - product_weight_g: 0.01%
Products - product_length_cm: 0.01%
Products - product_height_cm: 0.01%
Products - product_width_cm: 0.01%

In [9]:
 # Convert order timestamp columns to datetime and add missing flags
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'], errors='coerce')

orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'], errors='coerce')
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'], errors='coerce')
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])

# Impute / fill products fields
products['product_category_name'] = products['product_category_name'].fillna('unknown')

num_impute = [
    'product_name_lenght',
    'product_description_lenght',
    'product_photos_qty',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm'
]

for col in num_impute:
    if col in products.columns:
        products[col] = products[col].fillna(products[col].median())

# Update datasets dict / variables
datasets['Orders'] = orders
datasets['Products'] = products

# Quick checks
print('Orders missing after handling:')
print(orders[['order_approved_at','order_delivered_carrier_date','order_delivered_customer_date']].isnull().sum())
print('\nProducts missing after handling:')
print(products[num_impute + ['product_category_name']].isnull().sum())

Orders missing after handling:
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
dtype: int64

Products missing after handling:
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
product_category_name         0
dtype: int64

In [10]:
# Impute / fill order_approved_at with order_purchase_timestamp 
orders['order_approved_at'] = orders['order_approved_at'].fillna(
    orders['order_purchase_timestamp']
)

In [12]:
# Fill order_delivered_carrier_date using median delivery time
median_ship_time = (orders['order_delivered_carrier_date'] - orders['order_approved_at']).median()

orders['order_delivered_carrier_date'] = orders['order_delivered_carrier_date'].fillna(
    orders['order_approved_at'] + median_ship_time)

In [ ]:
# Impute order_delivered_customer_date using median delivery duration:
median_delivery_time = (orders['order_delivered_customer_date'] - orders['order_delivered_carrier_date']).median()

orders['order_delivered_customer_date'] = orders['order_delivered_customer_date'].fillna(
    orders['order_delivered_carrier_date'] + median_delivery_time
)

In [17]:
print(orders.isnull().sum())

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [18]:
# Check for duplicate rows 
print("=" * 50)
print("DUPLICATE ROWS CHECK:")
print("=" * 50)
for name, df in datasets.items():
    duplicates = df.duplicated().sum()
    print(f"Duplicates in {name}: {duplicates}")
    if duplicates > 0:
        datasets[name] = df.drop_duplicates()
        print(f"  → Removed {duplicates} duplicates")

==================================================
DUPLICATE ROWS CHECK:
==================================================
Duplicates in Customers: 0
Duplicates in Orders: 0
Duplicates in Products: 0
Duplicates in Sellers: 0
Duplicates in Order Items: 0
Duplicates in Payments: 0
Duplicates in Reviews: 0
Duplicates in Geolocation: 0
Duplicates in Category Translation: 0

## Exploratory SQL Analysis (Business-Level KPIs)

In [ ]:
# confirm DataFrames exist
needed = ["customers","orders","order_items","payments","products","sellers","geolocation","reviews","category_translation"]
missing = [n for n in needed if n not in globals()]
if missing:
    raise NameError(f"These DataFrame variables are missing in memory: {missing}. Load them first.")

# create/open database and write tables
db_path = "olist.db"
conn = sqlite3.connect(db_path)

customers.to_sql("customers", conn, if_exists="replace", index=False)
orders.to_sql("orders", conn, if_exists="replace", index=False)
order_items.to_sql("order_items", conn, if_exists="replace", index=False)
payments.to_sql("payments", conn, if_exists="replace", index=False)
products.to_sql("products", conn, if_exists="replace", index=False)
sellers.to_sql("sellers", conn, if_exists="replace", index=False)
geolocation.to_sql("geolocation", conn, if_exists="replace", index=False)
reviews.to_sql("reviews", conn, if_exists="replace", index=False)
category_translation.to_sql("category_translation", conn, if_exists="replace", index=False)

# verify
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [t[0] for t in cursor.fetchall()]
print("Tables in DB:", tables)

# show row counts for each table
for t in tables:
    cursor.execute(f"SELECT COUNT(*) FROM {t};")
    print(f"{t}: {cursor.fetchone()[0]} rows")

conn.close()

print(f"\nDatabase created at: {os.path.abspath(db_path)}")

Tables in DB: ['customers', 'orders', 'order_items', 'payments', 'products', 'sellers', 'geolocation', 'reviews', 'category_translation']
customers: 99441 rows
orders: 99441 rows
order_items: 112650 rows
payments: 103886 rows
products: 32951 rows
sellers: 3095 rows
geolocation: 1000163 rows
reviews: 99224 rows
category_translation: 71 rows

Database created at: c:\Users\user\Documents\My Projects\E-Commerce Insights and Trends\olist.db

In [24]:
conn = sqlite3.connect("olist.db")

pd.read_sql("SELECT * FROM customers LIMIT 5;", conn)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
# Count total orders
pd.read_sql("""
SELECT COUNT(*) AS total_orders
FROM orders;
""", conn)

   total_orders
0         99441

In [26]:
# Count distinct customers
pd.read_sql("""
SELECT COUNT(DISTINCT customer_id) AS distinct_customers
FROM orders;
""", conn)

   distinct_customers
0               99441

In [ ]:
# Total revenue
pd.read_sql("""
SELECT SUM(payment_value) AS total_revenue 
FROM payments;
""", conn)

   AStotal_revenue
0     1.600887e+07

In [29]:
# Average order value
pd.read_sql("""
SELECT 
    SUM(payment_value) * 1.0 / COUNT(DISTINCT order_id) AS AOV
FROM payments;
""", conn)

          AOV
0  160.990267

In [30]:
# Orders Per year
pd.read_sql("""
SELECT 
    strftime('%Y', order_purchase_timestamp) AS year,
    COUNT(*) AS orders
FROM orders
GROUP BY year
ORDER BY year;
""", conn)

   year  orders
0  2016     329
1  2017   45101
2  2018   54011

In [34]:
# Top 10 cities with most customers
pd.read_sql("""
SELECT 
customer_city,
COUNT(*) AS total_customers
FROM customers
GROUP BY customer_city
ORDER BY total_customers DESC
LIMIT 10;
""", conn)

           customer_city  total_customers
0              sao paulo            15540
1         rio de janeiro             6882
2         belo horizonte             2773
3               brasilia             2131
4               curitiba             1521
5               campinas             1444
6           porto alegre             1379
7               salvador             1245
8              guarulhos             1189
9  sao bernardo do campo              938

In [35]:
#Distribution of order status
pd.read_sql("""
SELECT 
            order_status,
            COUNT(*) AS status_count
            FROM orders
            GROUP BY order_status;
""", conn)

  order_status  status_count
0     approved             2
1     canceled           625
2      created             5
3    delivered         96478
4     invoiced           314
5   processing           301
6      shipped          1107
7  unavailable           609

## Customer behavior analysis

In this section, customer activity and purchasing patterns are examined in more detail.
The goal is to understand how customers interact with the marketplace, how often they buy, how much they spend, and how basket composition varies. These patterns inform retention strategies, segmentation, and future ML modeling.

In [41]:
# Number of times per order
pd.read_sql("""
SELECT 
    oi.order_id,
    COUNT(DISTINCT oi.product_id) AS unique_products,
    COUNT(*) AS total_items,
    GROUP_CONCAT(DISTINCT ct.product_category_name_english) AS product_categories
FROM order_items oi
JOIN products p 
      ON oi.product_id = p.product_id
LEFT JOIN category_translation ct 
      ON p.product_category_name = ct.product_category_name
GROUP BY oi.order_id
ORDER BY total_items DESC
LIMIT 10;
""", conn)

,order_id,unique_products,total_items,product_categories
0,8272b63d03f5f79c56e9e4120aec44ef,3,21,health_beauty
1,ab14fdcfbe524636d65ee38360e22ce8,1,20,auto
2,1b15974a0141d54e36626dca3fdc731a,1,20,computers_accessories
3,9ef13efd6949e4573a18964dd1bbe7f5,1,15,garden_tools
4,428a2f660dc84138d969ccd69a0ab6d5,1,15,furniture_decor
5,9bdc4d4c71aa1de4606060929dee888c,1,14,telephony
6,73c8ab38f07dc94389065f7eba4f297a,1,14,garden_tools
7,37ee401157a3a0b28c9c6d0ed8c3b24b,1,13,telephony
8,c05d6a79e55da72ca780ce90364abed9,2,12,housewares
9,af822dacd6f5cff7376413c03a388bb7,2,12,housewares

- The highest-volume orders contain 12 to 21 items, but they are generally concentrated in one or two product categories. This indicates that large orders tend to be bulk purchases rather than diverse baskets. Categories such as health_beauty, auto, computers_accessories, and garden_tools dominate the top multi-item orders, suggesting that these product lines may drive higher-volume transactions.

In [44]:
 # How many orders each customer has placed 
pd.read_sql("""
SELECT 
    c.customer_unique_id,
    COUNT(*) AS total_orders
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
GROUP BY c.customer_unique_id
ORDER BY total_orders DESC
            LIMIT 20;
""", conn)

                  customer_unique_id  total_orders
0   8d50f5eadf50201ccdcedfb9e2ac8455            17
1   3e43e6105506432c953e165fb2acf44c             9
2   ca77025e7201e3b30c44b472ff346268             7
3   6469f99c1f9dfae7733b25662e7f1782             7
4   1b6c7548a2a1f9037c1fd3ddfed95f33             7
5   f0e310a6839dce9de1638e0fe5ab282a             6
6   de34b16117594161a6a89c50b289d35a             6
7   dc813062e0fc23409cd255f7f53c7074             6
8   63cfc61cee11cbe306bff5857d00bfe4             6
9   47c1a3033b8b77b3ab6e109eb4d5fdf3             6
10  12f5d6e1cbf93dafd9dcc19095df0b3d             6
11  fe81bb32c243a86b2f86fbf053fe6140             5
12  b4e4f24de1e8725b74e4a1f4975116ed             5
13  74cb1ad7e6d5674325c1f99b5ea30d82             5
14  5e8f38a9a1c023f3db718edcf926a2db             5
15  56c8638e7c058b98aae6d74d2dd6ea23             5
16  4e65032f1f574189fb793bac5a867bbc             5
17  394ac4de8f3acb14253c177f0e15bc58             5
18  35ecdf6858edc6427223b64804cf028e             5
19  f64ec6d8dd29940264cd0bbb5ecade8a             4

- Most customers place only one order, and very few reach high order counts. The top customer has 17 total orders, but this behavior is rare. The distribution confirms that the platform relies heavily on single-purchase customers, with only a small minority showing strong loyalty or repeated purchasing.

In [ ]:
# One-time vs. Repeat Buyers Purchase Rate 
pd.read_sql("""
WITH customer_orders AS (
    SELECT 
        c.customer_unique_id,
        COUNT(*) AS total_orders
    FROM orders o
    JOIN customers c 
          ON o.customer_id = c.customer_id
    GROUP BY c.customer_unique_id
)
SELECT
    SUM(CASE WHEN total_orders = 1 THEN 1 ELSE 0 END) AS one_time_buyers,
    SUM(CASE WHEN total_orders > 1 THEN 1 ELSE 0 END) AS repeat_buyers,
    (SUM(CASE WHEN total_orders > 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS repeat_purchase_rate
FROM customer_orders;
""", conn)

   one_time_buyers  repeat_buyers  repeat_purchase_rate
0            93099           2997              3.118756

- The majority of customers are one-time buyers (96.9%), while only 3.1% return to make additional purchases. This indicates low customer retention, meaning most revenue comes from new customer acquisition rather than repeat customers. The small repeat-buyer segment suggests an opportunity to strengthen retention strategies and encourage more frequent purchasing.

In [49]:
# Total spending per customer
pd.read_sql("""
SELECT  c.customer_unique_id,
    SUM(oi.price + oi.freight_value) AS total_spent
FROM orders o
JOIN order_items oi
            ON o.order_id = oi.order_id
JOIN customers c
            ON o.customer_id = c.customer_id
GROUP BY c.customer_unique_id
ORDER BY total_spent DESC
LIMIT 20;
""", conn)

                  customer_unique_id  total_spent
0   0a0a92112bd4c708ca5fde585afaa872     13664.08
1   da122df9eeddfedc1dc1f5349a1a690c      7571.63
2   763c8b1c9c68a0229c42c9fc6f662b93      7274.88
3   dc4802a71eae9be1dd28f5d788ceb526      6929.31
4   459bef486812aa25204be022145caa62      6922.21
5   ff4159b92c40ebe40454e3e6a7c35ed6      6726.66
6   4007669dec559734d6f53e029e360987      6081.54
7   5d0a2980b292d049061542014e8960bf      4809.44
8   eebb5dda148d3893cdaf5b5ca3040ccb      4764.34
9   48e1ac109decbb87765a3eade6854098      4681.78
10  c8460e4251689ba205045f3ea17884a1      4655.88
11  edde2314c6c30e864a128ac95d6b2112      4513.32
12  a229eba70ec1c2abef51f04987deb7a5      4445.50
13  edf81e1f3070b9dac83ec83dacdbb9bc      4194.76
14  fa562ef24d41361e476e748681810e1e      4175.26
15  ca27f3dac28fb1063faddd424c9d95fa      4163.51
16  055ec572ac7f3c7bdd04a183830ebe59      4053.08
17  5e713be0853d8986528d7869a0811d2b      4042.74
18  58483a1c055dfb600f57c5b867174542      4034.44
19  011875f0176909c5cf0b14a9138bb691      4016.91

- Spending is highly concentrated among a small segment of customers. The top spenders contribute between 4,000 and 13,600 BRL each, indicating the presence of a high-value customer group whose purchasing behavior significantly influences overall revenue. These customers likely represent premium segments or frequent buyers with strong purchasing power.

In [ ]:
# Average Order Value (AOV) per Customer
pd.read_sql("""
WITH customer_orders AS (
    SELECT 
        c.customer_unique_id,
        COUNT(*) AS total_orders
    FROM orders o
    JOIN customers c 
          ON o.customer_id = c.customer_id
    GROUP BY c.customer_unique_id
),
customer_spending AS (
    SELECT
        c.customer_unique_id,
        SUM(oi.price + oi.freight_value) AS total_spent
    FROM orders o
    JOIN order_items oi 
          ON o.order_id = oi.order_id
    JOIN customers c 
          ON o.customer_id = c.customer_id
    GROUP BY c.customer_unique_id
)
SELECT
    cs.customer_unique_id,
    cs.total_spent,
    co.total_orders,
    cs.total_spent * 1.0 / co.total_orders AS avg_order_value
FROM customer_spending cs
JOIN customer_orders co 
      ON cs.customer_unique_id = co.customer_unique_id
ORDER BY avg_order_value DESC
LIMIT 20;
""", conn)

,customer_unique_id,total_spent,total_orders,avg_order_value
0,0a0a92112bd4c708ca5fde585afaa872,13664.08,1,13664.08
1,763c8b1c9c68a0229c42c9fc6f662b93,7274.88,1,7274.88
2,dc4802a71eae9be1dd28f5d788ceb526,6929.31,1,6929.31
3,459bef486812aa25204be022145caa62,6922.21,1,6922.21
4,ff4159b92c40ebe40454e3e6a7c35ed6,6726.66,1,6726.66
5,4007669dec559734d6f53e029e360987,6081.54,1,6081.54
6,5d0a2980b292d049061542014e8960bf,4809.44,1,4809.44
7,eebb5dda148d3893cdaf5b5ca3040ccb,4764.34,1,4764.34
8,48e1ac109decbb87765a3eade6854098,4681.78,1,4681.78
9,edde2314c6c30e864a128ac95d6b2112,4513.32,1,4513.32
10,a229eba70ec1c2abef51f04987deb7a5,4445.50,1,4445.50
11,edf81e1f3070b9dac83ec83dacdbb9bc,4194.76,1,4194.76
12,fa562ef24d41361e476e748681810e1e,4175.26,1,4175.26
13,ca27f3dac28fb1063faddd424c9d95fa,4163.51,1,4163.51
14,5e713be0853d8986528d7869a0811d2b,4042.74,1,4042.74
15,58483a1c055dfb600f57c5b867174542,4034.44,1,4034.44
16,011875f0176909c5cf0b14a9138bb691,4016.91,1,4016.91
17,f0767ae738c3d90e7b737d7b8b8bb4d1,3979.55,1,3979.55
18,bc5e25094a7d51b6aee35236572e64f4,3826.80,1,3826.80
19,3fec1a05177762f279472253113d568a,3792.59,1,3792.59

- The results show the customers with the highest spending per order. Each of the top customers placed a single order, which means their average order value equals their total spending. These transactions represent high-value purchases concentrated in one order rather than repeated buying behavior. This indicates that a small number of customers contribute disproportionately through large, one-off transactions, reflecting high-ticket product categories or bulk purchases

In [53]:
# Time span between first and last purchase for each customer
pd.read_sql("""
WITH customer_dates AS (
    SELECT
        c.customer_unique_id,
        MIN(o.order_purchase_timestamp) AS first_order,
        MAX(o.order_purchase_timestamp) AS last_order
    FROM orders o
    JOIN customers c 
          ON o.customer_id = c.customer_id
    GROUP BY c.customer_unique_id
)
SELECT
    customer_unique_id,
    first_order,
    last_order,
    julianday(last_order) - julianday(first_order) AS days_active
FROM customer_dates
ORDER BY days_active DESC
LIMIT 20;
""", conn)

,customer_unique_id,first_order,last_order,days_active
0,32ea3bdedab835c3aa6cb68ce66565ef,2016-10-03 09:44:50,2018-06-28 11:46:04,633.084190
1,ccafc1c3f270410521c3c6f3b249870f,2016-10-06 19:33:34,2018-06-07 19:03:12,608.978912
2,d8f3c4f441a9b59a29f977df16724f38,2017-01-18 21:08:18,2018-08-24 17:52:59,582.864363
3,94e5ea5a8c1bf546db2739673060c43f,2016-10-05 21:10:56,2018-05-09 13:49:19,580.693322
4,87b3f231705783eb2217e25851c0a45d,2016-10-08 18:45:34,2018-05-04 11:14:37,572.686840
5,8f6ce2295bdbec03cd50e34b4bd7ba0a,2017-02-09 12:48:59,2018-07-31 22:03:59,537.385417
6,30b782a79466007756f170cb5bd6bbd8,2017-02-20 19:58:47,2018-07-30 22:09:45,525.090949
7,4e23e1826902ec9f208e8cc61329b494,2016-10-05 12:32:55,2018-03-13 22:28:21,524.413495
8,a1c61f8566347ec44ea37d22854634a1,2017-03-19 08:36:36,2018-08-25 11:01:56,524.100926
9,a262442e3ab89611b44877c7aaf77468,2017-02-17 18:27:58,2018-07-24 16:44:34,521.928194
10,5eefb861d4921a3e628bbc65c50a480a,2017-03-05 21:47:58,2018-08-05 15:48:29,517.750359
11,18bc87094128bbfe943cf88adcf72059,2017-01-26 23:48:56,2018-06-25 12:06:07,514.511933
12,7e7301841ddb4064c2f3a31e4c154932,2017-02-15 12:56:00,2018-07-14 19:38:26,514.279468
13,1b6e96ed99cb8d135efe220d761bbd67,2017-03-22 07:58:24,2018-08-15 19:50:32,511.494537
14,24072811917876a84c81166f96aed0c1,2017-01-11 23:32:55,2018-06-06 21:11:57,510.902106
15,408aee96c75632a92e5079eee61da399,2017-01-31 14:38:27,2018-06-21 21:02:24,506.266632
16,97258e1c1f77f32358eccd1c9ee5954d,2017-03-24 20:59:38,2018-08-11 12:41:01,504.653738
17,7f5dcde4d292354dd5e6968a27971126,2017-04-08 19:52:40,2018-08-14 19:30:13,492.984410
18,e53fd5575f1418397aae732c5755b6fc,2017-04-15 17:37:04,2018-08-20 22:54:11,492.220220
19,4d9e104764077f7dfae917c7cc803212,2017-03-21 13:29:54,2018-07-23 20:53:38,489.308148

- Measures the active purchasing window for each customer. Longer spans indicate extended engagement over multiple years, while shorter windows suggest one-time or short-term buyers. This metric helps approximate customer lifetime value and identify customers with sustained purchasing behavior.

In [54]:

# Orders per customer by year, for a simple cohort view
pd.read_sql("""
SELECT
    c.customer_unique_id,
    strftime('%Y', o.order_purchase_timestamp) AS year,
    COUNT(*) AS orders_in_year
FROM orders o
JOIN customers c 
      ON o.customer_id = c.customer_id
GROUP BY c.customer_unique_id, year
ORDER BY year, orders_in_year DESC
LIMIT 50;
""", conn)

                  customer_unique_id  year  orders_in_year
0   0ecf7f65b5ff3b9e61b637e59f495e0a  2016               2
1   7a176e5d88c7acb6000a055e008c055d  2016               2
2   f7b62c75467e8ce080b201667cbbc274  2016               2
3   0032c76b20340da25249092a268ce66c  2016               1
4   009b0127b727ab0ba422f6d9604487c7  2016               1
5   00f0b70fdcb8a6e1671b52a2472bd41f  2016               1
6   01f156677184504063bd19739f924af1  2016               1
7   0313291a6f4f16df04dcf819d88c38ef  2016               1
8   046ed33aa8bef51855af6010a11a835c  2016               1
9   0636d30c77f0f9cfad81f1c9b58c791f  2016               1
10  0659f2d6cabae94afd4d009c6d0e07dc  2016               1
11  06bdfbbe1857c3c925ec81abfb1c9666  2016               1
12  07d5b1f9bdd053347f0213187b343ac9  2016               1
13  0829f7df6577d5a4b65439bea701405f  2016               1
14  08da95f931937b2c20f5225f2e6c93b0  2016               1
15  0922f37485310929b1b94e8f0c984ca5  2016               1
16  0a02ba4243b1b0e048a3841d5758d113  2016               1
17  0ac6c084c9623a0e2ace60297ad24d6c  2016               1
18  0acb54b64345b37d81205175f3f3e779  2016               1
19  0b3dc7efaafb0cf78a4796d42fa8d74c  2016               1
20  0d527a050dc34913c5c4746cefae5995  2016               1
21  0e1990d494dc3c1a2f5fca4b56c35a4c  2016               1
22  0eb1ee9dba87f5b36b4613a65074337c  2016               1
23  10e89fd8e5c745f81bec101207ba4d7d  2016               1
24  1150664499f22ea0d558af89a2c053fc  2016               1
25  1151be76113653dc4ed5d7e7fd17763a  2016               1
26  11a40baf46bd96289d1f0936dae9a256  2016               1
27  123ecbb4fb560cff85dd1072dd0a613d  2016               1
28  12cc890391e57d7123e004856ff1f137  2016               1
29  14359ea0c7a105749c0a56478825b015  2016               1
30  15896826233a6eda72c64e1b99a0856a  2016               1
31  16c362fd9bd8fd63d3e70f7f94b640a1  2016               1
32  171d92af5bf025428dfc2fd869eb8a04  2016               1
33  1881f0742867dc75d6e0bcc24f866710  2016               1
34  18af4524eed79155034a9374880c5078  2016               1
35  1979dc402581a74e2bd0c0853951311d  2016               1
36  1ab766d3d553649d7d8c7e2bb60f5c9d  2016               1
37  1c5aefec1a2943edd15e52f9e2900e41  2016               1
38  1d4e969b43ef0e67167ec4d418830125  2016               1
39  1d6bf991d51a595e57cf95d8bc861a15  2016               1
40  1dc848c11c2985635c268ff3dea707eb  2016               1
41  1f98e3467d2b48dfb44fc12b137d3447  2016               1
42  1fe76010d06f4c73ed78f3a7d469d93e  2016               1
43  202fad4a680401564558b2cda0c5a8de  2016               1
44  2108073aab31d087b1043c32fd9fdc47  2016               1
45  215c4eb12924f9cc3c6cbd9a83fd5f69  2016               1
46  221234182f828fb9f2a4ba9c89874ede  2016               1
47  225e63e9d240db566203b1ed918a809c  2016               1
48  22e16e7154401d6eb4f7ba788b3edb7e  2016               1
49  231fb63f9dc7482c7016020ef322b011  2016               1

- Shows how many orders each customer placed within a specific year. Higher counts indicate customers with consistent annual purchasing activity, while most customers place only a single order in a given year. This metric highlights year-over-year engagement and helps identify customers with stable repeat behavior.